[submodule "jbig2dec"]
	path = thirdparty/jbig2dec
	url = https://github.com/jbig2dec.git
[submodule "mujs"]
	path = thirdparty/mujs
	url = https://github.com/mujs.git
[submodule "freetype"]
	path = thirdparty/freetype
	url = https://github.com/thirdparty-freetype2.git
[submodule "harfbuzz"]
	path = thirdparty/harfbuzz
	url = https://github.com/thirdparty-harfbuzz.git
[submodule "jpeg"]
	path = thirdparty/libjpeg
	url = https://github.com/thirdparty-libjpeg.git
[submodule "lcms2"]
	path = thirdparty/lcms2
	url = https://github.com/thirdparty-lcms2.git
[submodule "openjpeg"]
	path = thirdparty/openjpeg
	url = https://github.com/thirdparty-openjpeg.git
[submodule "zlib"]
	path = thirdparty/zlib
	url = https://github.com/thirdparty-zlib.git
[submodule "curl"]
	path = thirdparty/curl
	url = https://github.com/thirdparty-curl.git
[submodule "freeglut"]
	path = thirdparty/freeglut
	url = https://github.com/thirdparty-freeglut.git
